<app-navbar></app-navbar>

<div class="grid-container main-container">
  <h1>Videos de YouTube</h1>
  <hr>

  <div class="card-columns">
    <div class="card" *ngFor="let video of videos">
      <img [src]="video.thumbnails.high.url" [alt]="video.title">
      <div class="card-section">
        <h5>{{ video.title }}</h5>
        <button (click)="showVideo(video)" type="button" class="hollow button expanded">Ver video</button>
      </div>
    </div>
  </div>

  <button (click)="loadMore()" type="button" class="hollow button expanded">Cargar más videos</button>
</div>



<div class="reveal" id="exampleModal1" data-reveal data-close-on-click="false" data-close-on-esc="false">
  <div *ngIf="currentVideo">
    <h5>{{ currentVideo.title }}</h5>
    <!--<button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>-->
    <iframe width="560" height="315" [src]="currentVideo.resourceId.videoId | videoYoutube" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button (click)="closeVideo()" class="button" type="button">Cerrar</button>
  </div>
</div>
